nav {
    width: 700px;
    margin: 0 auto;
}

ul {
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    -webkit-transition: 4s ease;

}

ul:hover {
    background: black;
    border-radius: 10px;
    transition: 4s;
}

li {
    list-style-type: none;
    -webkit-transition: 3s ease;
}

li:hover {
    background: white;
    transition: 3s;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

a:hover {
    color: black;
    transition: 4s;
}