@import "normalize.css";

.block__container{
    margin: 10px 0 10px 0;
    border: 1px solid black;
}
h3 {
    margin: 0;
}

.container__config * {
    padding: 5px;
}

.container__config hr {
    padding: 0;
}

button {
    margin-bottom: 5px;
    background: white;
    border: aliceblue;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.03) 0 54px 55px, rgba(0, 0, 0, 0.03) 0 -12px 30px, rgba(0, 0, 0, 0.03) 0 4px 6px, rgba(0, 0, 0, 0.03) 0 6px 6px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.item-1{
background-color: darkslateblue;
}
.item-2{
    background-color: yellowgreen;
}
.item-3{
    background-color: antiquewhite;
}
.item-4{
    background-color: cyan;
}
.item-5{
    background-color: gold;
}
.item-6{
    background-color: darkgray;
}
.item-7{
    background-color: darkorange;
}
.item-8{
    background-color: plum;
}
.item-9{
    background-color: lightseagreen;
}
.newHeight,.newWidth{
    margin:2px
}

#basis_type {
    display: none;
}


