@import "normalize.css";

.block__container{
    margin:10px 0 10px 0;
    border: 5px solid firebrick;
 }
.buttons_block *{
    padding: 5px;
}
.block__container *{
    border: 1px solid blue;
}
.item-1{
background-color: darkslateblue;
}
.item-2{
    background-color: yellowgreen;
}
.item-3{
    background-color: antiquewhite;
}
.item-4{
    background-color: cyan;
}
.item-5{
    background-color: gold;
}
.item-6{
    background-color: darkgray;
}
.item-7{
    background-color: darkorange;
}
.item-8{
    background-color: plum;
}
.item-9{
    background-color: lightseagreen;
}

