.grid__body {
    display: grid;
    grid-template-columns: auto minmax(10px, 140px) fit-content(160px);
    grid-template-rows:100px auto 100px;
}

.grid__item {
    text-align: center;
    border: 2px dashed skyblue;
    padding: 15px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
            "header header header"
            "lside content rside"
            "footer footer footer";
}

.grid-wrapper * {
    text-align: center;
    border: blue 1px dashed;
    padding: 5px;
}

.grid-header {
    grid-area: header;
}

.grid-lside {
    grid-area: lside;
}
.grid-rside{
    grid-area: rside;
}

.grid-content {
    grid-area: content;
}

.grid-footer {
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template:
[start]"header header header" 100px [row2]
[row2] "ls cont rs" 190px [row3]
[row3] "foot foot foot" 160px / 1fr 5fr 1fr;
}
.grid-container *{
    padding: 10px;
    border: chartreuse 2px double;
    text-align: center;
}
.grid-h{
    grid-area: header;
}
.grid-ls{
    grid-area: ls;
}
.grid-rs{
    grid-area:rs;
}
.grid-foot{
    grid-area: foot;
}